function Levels.setCell 1
push argument 0
push argument 1
push argument 2
call Board.getCell 3
pop local 0
push local 0
push argument 3
call Cell.setValue 2
pop temp 0
push local 0
call Cell.draw 1
pop temp 0
push constant 0
return
function Levels.load 1
push argument 1
call Math.abs 1
pop local 0
push local 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
call Levels.loadLevel1 1
pop temp 0
label IF_FALSE0
push local 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
call Levels.loadLevel2 1
pop temp 0
label IF_FALSE1
push local 0
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 0
call Levels.loadLevel3 1
pop temp 0
label IF_FALSE2
push local 0
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 0
call Levels.loadLevel4 1
pop temp 0
label IF_FALSE3
push local 0
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 0
call Levels.loadLevel5 1
pop temp 0
label IF_FALSE4
push constant 0
return
function Levels.loadLevel1 0
push argument 0
push constant 0
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 1
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 3
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 5
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 7
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 0
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 1
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 2
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 4
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 5
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 6
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 1
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 4
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 6
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 7
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 8
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 0
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 1
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 2
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 6
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 7
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 8
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 1
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 2
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 3
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 5
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 2
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 3
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 4
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 5
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 1
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 4
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 8
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 1
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 3
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 4
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 5
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 1
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 3
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 4
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 5
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 7
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push constant 0
return
function Levels.loadLevel2 0
push argument 0
push constant 0
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 2
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 4
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 5
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 2
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 3
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 5
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 8
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 3
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 4
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 7
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 8
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 0
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 3
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 4
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 8
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 7
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 0
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 4
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 7
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 1
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 2
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 4
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 5
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 7
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push constant 0
return
function Levels.loadLevel3 0
push argument 0
push constant 0
push constant 0
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 3
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 4
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 5
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 7
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 3
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 4
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 5
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 1
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 3
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 4
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 5
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 7
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 1
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 3
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 4
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 2
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 3
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 4
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 7
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 8
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 2
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 5
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 7
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 8
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 0
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 1
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 0
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 1
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 4
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 7
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push constant 0
return
function Levels.loadLevel4 0
push argument 0
push constant 0
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 1
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 4
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 5
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 8
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 1
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 2
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 3
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 4
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 5
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 6
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 1
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 2
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 5
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 6
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 7
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 4
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 7
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 8
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 1
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 3
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 5
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 6
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 2
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 5
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 6
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 4
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 7
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push constant 0
return
function Levels.loadLevel5 0
push argument 0
push constant 0
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 2
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 4
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 5
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 7
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 0
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 2
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 3
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 4
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 5
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 7
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 1
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 1
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 3
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 4
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 5
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 6
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 7
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 2
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 1
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 3
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 7
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 3
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 0
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 1
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 3
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 5
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 7
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 4
push constant 8
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 1
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 2
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 3
push constant 0
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 5
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 6
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 7
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 5
push constant 8
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 0
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 1
push constant 3
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 2
push constant 3
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 3
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 5
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 6
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 7
push constant 3
call Levels.setCell 4
pop temp 0
push argument 0
push constant 6
push constant 8
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 0
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 1
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 2
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 3
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 5
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 6
push constant 10
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 7
push constant 4
call Levels.setCell 4
pop temp 0
push argument 0
push constant 7
push constant 8
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 0
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 1
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 2
push constant 3
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 3
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 4
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 5
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 6
push constant 1
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 7
push constant 2
call Levels.setCell 4
pop temp 0
push argument 0
push constant 8
push constant 8
push constant 10
call Levels.setCell 4
pop temp 0
push constant 0
return
